<div class="muestra-presupuesto">

  <div class="muestra-total">
    <h3>Presupuesto disponible:</h3>
    <p class="saldo">{{ingresos - gastos | currency: 'ES':'€':'1.2-2'}}</p>
  </div>

  <div class="muestra-ingresos">
      <p>INGRESOS</p>
      <P>{{ingresos}}</P>
  </div>
  <div class="muestra-gastos">
      <p>GASTOS</p>
      <div>
        <p>{{gastos}}</p>
        <p class="porcentaje">{{porcentaje | number}}%</p>
      </div>
  </div>

</div>


<app-formulario-presupuesto class="formulario"></app-formulario-presupuesto>


<app-tablas-presupuesto class="tablas"></app-tablas-presupuesto>


